body{
	background-color: #D9D9D9;
	margin: 0px;
	padding: 0px;
	font-family: Helvetica;
	color: #262F40;
}

a{
	text-decoration: none;
}

.nav{
	background-color: #262F40;

}

.nav a{
	color: #D9D9D9;
}

.nav a:hover{
	color: #F7F7F7;
}

.nav ul{
	list-style-type: none;
	margin-top: -1px;
}

.nav li{
	display: inline-block;
	padding: 10px 0px;
	margin-left: 50px;
}

.about{
	width: 55%;
	margin-left: 500px;
	padding-bottom: 20px;
}

.about img{
	width: 100%;
}

.left{
	float: left;
	margin-left: 90px;
	padding: 0px 10px;
	width: 300px;
	height: 646px;
	overflow: scroll;
	background-color: #BFB7B0;
}

.left a{
	color: #262F40;
}

.left a:hover{
	color: #475370;
}

.right{
	width: 55%;
	margin-left: 500px;
	padding-bottom: 20px;
}

.right img{
	width: 100%;
}

.times{
	width: 95%;
	background-color: #262F40;
}

.times ul{
	list-style-type: none;
}

.times li{
	display: inline-block;
	padding: 10px 0px;
	margin: 0px 5px 0px 95px;
	color: #D9D9D9;
}





