body{
	padding: 0px;
	margin: 0px;
	background-color: #FFF9E9;
	font-family: Helvetica;
	color: #1E044A
}

.nav{
	background-color: #3ACFFF;
}

.nav{
	background-color: #3ACFFF;
	padding: 1px 0px;
}

.nav ul{
	list-style-type: none;
}

.nav li{
	display: inline-block;
	padding-right: 20px;
}

.friends, .find_friends{
	color: white;
	width: 230px;
	background-color:#1E044A;
	margin-left: 40px;
	margin-top: 40px;
}

.friends{
	background-color: #6798CF;
}

.left div{
	float: left;
}

.friends h3, .find_friends h3{
	padding: 10px 12px;
	margin-top: 20px;
}


.find_friends h3{
	padding: 10px 59px;
	margin-top: 20px;
}

.left img{
	float: left;
	margin-top: 200px;
	margin-left: -500px;
	height: 130px;
	border-radius: 90px;
}

.profile img{
	height: 200px;
	border-radius: 130px;
	margin: 40px 20px 40px 50px;
}

.about{
	float: right;
	margin: -230px 220px 20px 0px;
}

.quest{
	float: right;
	background-color: #E9EDD2;
	width: 400px;
}

.about h1{
	line-height: 19px;
	width: 406px;
}

.comment{
	float: right;
	margin-right: 220px;
}

.comment img{
	float: left;
	height: 110px;
	border-radius: 90px;
	margin-right: 20px;
}

.comment form{
	float: left;
}

.comment textarea{
	border: 0px;
	background-color: #E9EDD2;
}

.comment input{
	color: white;
	background-color: #1E044A;
	border: 0px;
	height: 40px;
	width: 90px;
}

.my_form{
	float: left;
}

.form_head{
	width: 500px;
	margin-left: 40px;
}

.my_form form{
	margin-left: 40px;
}

.my_form .imps{
	width: 430px;
}

.my_form input{
	margin-bottom: 20px;
	padding: 5px 0px;
}

.info{
	margin-left: 620px;
	margin-top: -85px;
}

.info img{
	height: 200px;
	border-radius: 130px;
}

.info p{
	width: 600px;
}











