body{
	background-color:#A5E2FF;
	padding: 0px;
	margin: 0px;
	font-family: Helvetica;
}

.head, .body, .footer, .about{
	opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
}

h1, h2{
	color: #DCFFFF;
	margin-left: 150px;
}

h2{
	font-size: 20px;
}

.about h3{
	margin-top: 30px;
	margin-left: 150px;
}

.about p{
	margin-left: 150px;
	line-height: 20px;
	width: 80%;
}

.head{
	background-color: #536EFF;
	line-height: 15px;
	padding: 10px 0px;
}

.my_form, .page_rev{
	padding: 10px 20px 20px 20px;
	position: absolute;
	border: 2px solid #384AAB;
	width: 30%;
	background-color: #536EFF;
	margin-left: 34%;
}

.my_form{
	margin-top: -340px;
}

.my_form input{
	margin: 2px 0px 10px 0px;
}

.inp_name, .inp_email, .inp_color{
	width: 100%;
}

.my_form .sub_btn{
	background-color: #81FFD8;
}
.page_rev{
	margin-top: -290px;
}

#btn1, #btn2, .my_form .sub_btn{
	border: 2px solid #678931;
	font-size: 17px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	padding: 10px;
}

#btn1{
	background-color: #A689FF;
}

#btn2{
	background-color: #81FFD8;
}

#btn1:active, #btn2:active, .sub_btn:active{
	position:relative;
	top:1px;
	padding: 11px;
}

.page_rev h3{
	color: #DCFFFF;
}

.page_rev p{
	background-color: #A5E2FF;
	padding: 3px;
}

.footer{
	background-color: #696FCF;
	padding: 17px 0px;
	margin-top: 80px;
}

ul{
	list-style-type: none;
	margin-left: 105px;
	line-height: 23px;
}